<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .div1 {
            width:400px;
            height: 200px;
            background: red;
        }
    </style>
</head>
<body>
    <div ng-controller="myController">
        <span>当前总数{{lists.length}}</span>
        <span>被删除的数量{{list2.length}}</span>
        <div class="div1">
            <ul>
                <li ng-repeat="list in lists" >
                    <input type="checkbox" ng-model="change"/>{{list.name}}<button ng-click="remove($index)" ng-if="change">删除按钮</button>
                </li>
            </ul>
        </div>
        <div class="div1">
            <ul>
                <li ng-repeat="list in list2" >
                    <input type="checkbox" ng-model="change" />{{list.name}}<button ng-click="add($index)" ng-if="change">添加按钮</button>
                </li>
            </ul>
        </div>
        <input ng-model="shurukuang" value="输入框">
        <button ng-model="anniu" ng-click="anniua(shurukuang)">按钮</button>




        <div class="biaodan">

        </div>
    </div>
    <script src="Angular/inde.js"></script>
<script src="Angular/angular.min.js"></script>
<script>
     angular.module("myApp",[])
             .controller("myController",["$scope",function($scope){
                $scope.lists=[
                    {
                        "name":"111"
                    },{
                        "name":"222"
                    },{
                        "name":"233"
                    },{
                        "name":"333"
                    }
                ]
                $scope.list2=[];
//                 console.log($scope.lists.length)

             $scope.anniua=function(m){
                 $scope.lists.push({"name":m})
                 $scope.shurukuang="";
             }
             $scope.remove=function(index){
                 var aa = $scope.lists[index];
                 $scope.lists.splice(index,1);
                 $scope.list2.push(aa)
             }
             $scope.add=function(index){
                 var aa = $scope.list2[index];
                 $scope.list2.splice(index,1);
                 $scope.lists.push(aa)
             }
//
//                 $scope.remove =function(index){
//                     var list = $scope.lists[index];
//                 removeList(list)
//             }



     }])
</script>
</body>
</html>